/* p{
    color:red;
} */


html{
    font-family: 'Arial Narrow Bold', sans-serif
}

a{
    text-decoration: none;
    color: #d500f9
}

.icon-star-full, .icon-star-empty{ 
    color: rgb(221, 221, 25);
}


img{
    max-width: 100%;
}

a:hover{
    opacity: 0.8;
}

/* a:focus{
    background:red;
} */

.text{
    margin-top: 1em;
    font-size: 1.2em;
    display: inline-block;
}

.tittle{
    text-transform: uppercase;
    text-align: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 200;
}

.fa-star, .fa-star-o{
    color: black;
}

.container{
    background: #00416A; /* Respaldo */
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(133,23,114,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    max-width: 960px;
    height: 80vh;
    width: 100%;
 
    background-color: white;
    /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    position: relative;
    overflow-y: scroll;
}

.content{
    padding: 1em

}

td{
    display: block;
    width: 100%;
}

td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color:#642B73
}

th{
    display: none;
}


.action{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #662B73 ;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    width: 100%;
    border-spacing: 0;
}



.table td, .table th{
    padding: 1em;

    text-align: left;

}

.table tr:nth-child(even){
    background-color: #f3e5f5;

}

.tittle-item{
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #C6426E;  */
    border-bottom: solid 2px #C6426E;
    padding-bottom: 1em;
    font-size: 2em;
}


.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}
.position{
    background-color: #C6426E ;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
    /* border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em; */

}

@media(min-width:900px){
       
    td{
        display: table-cell;
    }
    
    td{
        width: auto;
        display: table-cell;
    }

    td:nth-of-type(1){
        font-size: 1em;
    }
    .content{
            padding: 1.8em;
    }

}

@media (min-width:550px){
    .content{
        height: 500px;

    }

    .text{
        margin-top: 0em;
        font-size: 1.2em;
        display: inline-block;
    }
}